### 1. 데이터 프레임 붙이기 : pd.concat()
#### pd.concate([df1, df2], axis = 0/1, join = inner/outer) 
#### axis = 0/1 (종/횡), join = inner/outer(교집합/합집합)

In [29]:
import pandas as pd
import numpy as np

col1= np.random.uniform(10,20,size=3) # 10~20 사이 실수 3개 
col2= np.random.uniform(10,20, size=3) 

sr1= pd.Series(col1,name='col1') #col1을 시리즈로 만들기
sr2= pd.Series(col2,name='col2') #col2를 시리즈로 만들기 

df1=pd.concat([sr1,sr2], axis=1)
df21=pd.concat([sr1,sr2], axis=0)
df1, df2

(        col1       col2
 0  18.226055  15.847078
 1  10.399188  17.764007
 2  14.736480  13.286066,
     d   e   h   i
 0  11  12  13  14
 1  15  16  17  18
 2  19  20  21  22
 3  23  24  25  26
 4  27  28  29  30)

### 2. 데이터프레임 병합 : pd.merge()  --> merge()는 columns를 기준으로 병합이 됩니다. 
#### pd.merge(df1,df2, how='outer') how는 교집합/합집합을 설정하는 것이고 outer는 합집합/ inner는 교집합입니다. how를 입력하지 않으면 default는 inner로 설정되어 교집합으로 설정됩니다

In [20]:
import numpy as np
import pandas as pd
data1 = np.arange(1,21).reshape(4,5)  #4행 5열로 1~20까지의 수를 넣겠다
data2 = np.arange(11,31).reshape(5,4)  # 5행 4열로 11~31까지의 수를 넣겠다

df1 = pd.DataFrame(data1, columns=list('abcde')) #df1이라는 데이터 프레임에 data1을 넣고 columns설정
df2 = pd.DataFrame(data2, columns=list('dehi')) #df2에 위와 같이 설정

In [24]:
df3 = pd.merge(df1, df2, how='inner')
df4 = pd.merge(df1, df2, how='outer')

In [25]:
df3, df4

(    a   b   c   d   e   h   i
 0  16  17  18  19  20  21  22,
       a     b     c   d   e     h     i
 0   1.0   2.0   3.0   4   5   NaN   NaN
 1   6.0   7.0   8.0   9  10   NaN   NaN
 2  11.0  12.0  13.0  14  15   NaN   NaN
 3  16.0  17.0  18.0  19  20  21.0  22.0
 4   NaN   NaN   NaN  11  12  13.0  14.0
 5   NaN   NaN   NaN  15  16  17.0  18.0
 6   NaN   NaN   NaN  23  24  25.0  26.0
 7   NaN   NaN   NaN  27  28  29.0  30.0)

### 3. 데이터프레임 병합 join
#### join()은 (columns를 기준으로 결합하는 merge()와 반대로) index를 기준으로 겹합하게 됩니다. 또한 결합할 때 merge처럼 default가 교집합인 inner가 됩니다.

In [28]:
df1.join(df2,lsuffix='_1',rsuffix='_2') # <-- 교집합

    a   b   c  d_1  e_1  d_2  e_2   h   i
0   1   2   3    4    5   11   12  13  14
1   6   7   8    9   10   15   16  17  18
2  11  12  13   14   15   19   20  21  22
3  16  17  18   19   20   23   24  25  26