15.4 교통카드 시스템 
표준입력으로 만 나이가 입력됩니다. (입력 값은 7이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 요금을 차감한 뒤 잔액이출력되게 만드세요. (if, elif 사용)
현재 교통카드에는 9000원이 있음. 

어린이 (초등학새, 만 7세 이상 12세 이하) : 650원
청소년 (중/고등학생, 만 13세 이상 18세 이하) : 1050
어른(일반, 만 19세 이상) : 1250

In [28]:
age = int(input())
balance  = 9000

 19

In [31]:
if age > 7 and age < 13:
    cost = 650
elif age > 13 and age < 19 :
    cost = 1050
else:
    cost = 1025
    
balance -= cost

In [32]:
print(balance)

6950